azure-core
azure-identity
azure-servicebus
azure-storage-blob
chromadb
fastapi
filelock
ipykernel
ipython
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-vertexai
langchainhub
langchain-openai
langchain-text-splitters
langcodes
langgraph
matplotlib
numexpr
numpy
openai
pymssql
pymupdf
pymupdfb
pymysql
pyodbc
pyopenssl
pyparsing
pypdf
pypdf2
regex
requests
scikit-learn
scipy
seaborn
sqlalchemy
sqlmodel
python-dotenv